.one {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 70px;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: solid red 1px; */

    size: 500px;

} 

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    /* border: solid red 1px; */
}

/* .map {
    transform: scale(2.25);
} */