.sectionOne {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    /* border: red solid 1px; */
  }

/* .sectionTwo {
    background: #f2f2f2;
    
} */
  .intro {
      font-size: 70px;
      text-align: center;
    /* border: blue solid 1px; */
     margin-top: 0;
  }

  .homepage {
    /* border: solid purple 1px; */
    /* margin-top: 0; */
  }

/* .map {
    
} */